@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


.App {
    height: 100vh;
    overflow: hidden;
}

.App-header {
    background-color: #2f000f;
    align-items: center;
    color: white;
    justify-content: center;
}

.App-body {
    background: linear-gradient(-45deg, #333333, #33232d, #203A43, #182e38);
	background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }
    33% {
        background-position: 50% 100%;
    }
	66% {
		background-position: 100% 50%;
	}
    100% {
        background-position: 50% 0%;
    }
}   

.text {
    padding: 4px;
    font-weight: 100;
    font-size: 30px;
    justify-content: left !important;
    text-align: left !important;
    font-family: 'Nanum Pen Script', cursive;
}


.hello {
    font-size: 90px;
    font-weight: 100;
    font-family: 'Reenie Beanie';
}

.white {
    color: #fff;
}

.white-border {
    border-color: #fff !important;
}

.social-button {
    padding : 10px !important;
}

.empty {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.link { 
    text-decoration: underline;
    color: white;
    font-weight: 600;
}