.App {
    text-align: center;
}

.App-header {
    background-color: #2f000f;
    align-items: center;
    color: white;
    justify-content: center;
}

.App-body {
	background: linear-gradient(-45deg, #493240, #203A43, #2C5364, #1b0a3f);
	background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}   

.text {
    padding: 4px;
    font-weight: 400;
}

.hello {
    font-size: 45px;
    font-weight: 100;
}

.white {
    color: #fff;
}

.white-border {
    border-color: #fff !important;
}
